$text: #fff;
$dev-color: #008f02;
$danger: #da514b;
$tasks-color: #009afb;
$edit-color: #50c4df;

.button {
  border: 2px solid white;
  width: 130px;
}

.button {
  border: 2px solid $text;
  width: 150px;
  height: 50px;
  margin-left: 15px;
  font-size: 18px;
  color: $text;
  background-color: $dev-color;
  border-radius: 50px;
  outline: none;
  cursor: pointer;
}

.dev {
  background-color: $dev-color;
}

.tasks {
  background-color: $tasks-color;
}

.danger {
  background-color: $danger;
}

.edit {
  background-color: $edit-color;
}

.submit {
  width: 100%;
  background-color: $dev-color;
  color: $text;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
