:root {
  --text: #fff;
  --line-bg: #000;
  --dev-color: #008f02;
  --input-line: #dadee7;
  --error: red;
}

@font-face {
  font-family: 'Roboto-Bold';
  src: url('../../assets/fonts/Roboto\ Bold.ttf') format('ttf');
}

@font-face {
  font-family: 'Roboto-Regular';
  src: url('../../assets/fonts/Roboto\ Regular.ttf') format('ttf');
}

.header-login {
  display: flex;
  justify-content: space-between;
  color: var(--text);
  background-color: var(--line-bg);
}
.dev-logo-login {
  margin: 15px;
  height: 60px;
}

.header-button {
  color: var(--text);
  background-color: var(--line-bg);
  outline: none;
  font-family: 'Roboto-Regular';
  font-size: 16pt;
  width: 100px;
  height: 100%;
  cursor: pointer;
}

.selected {
  color: var(--dev-color);
}

.login-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: 'Roboto-Regular';
}

.input-fields {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-form h2 {
  margin: 100px auto;
  text-align: center;
}

.login-form span {
  padding-left: 10px;
  color: var(--dev-color);
}

.login-form input {
  width: 350px;
  margin: 15px 0px;
  border: none;
  outline: none;
  padding-left: 45px;
  height: 35px;
  border-bottom: 2px solid var(--input-line);
}

#email-field {
  background: url('../../assets/images/loginIcon.png') no-repeat scroll 5px 5px;
}

#password-field {
  background: url('../../assets/images/passwordIcon.png') no-repeat scroll 5px 5px;
}

.button {
  font-family: 'Roboto-Regular';
}

.check-button {
  border: 2px solid white;
  width: 150px;
  height: 50px;
  margin-left: 15px;
  font-size: 18px;
  color: var(--text);
  background-color: var(--dev-color);
  border-radius: 50px;
  outline: none;
  cursor: pointer;
}

.error-message {
  color: var(--error);
  font-size: 12px;
  text-align: center;
  width: 50%;
  margin: 5px 0;
}
