$header-line: #dadee7;
$page-bg: #f6f7fa;

body {
  width: 90vw;
  margin: 0 auto;
  height: 100%;
}

.header {
  border-bottom: 2px solid $header-line;
  padding: 15px;
}

.page-content {
  background-color: $page-bg;
}

.page-name {
  font-size: 20pt;
}

.page-name span {
  margin: 0 15px;
}
