$header-line: #dadee7;
$light-bg: #f6f7fa;
$light-font: #000000;
$dark-bg: #2a2c2d;
$dark-font: #ffffff;

body {
  width: 100vw;
  margin: 0 auto;
}

main {
  height: 100vh;
  overflow-x: hidden;
}

.header {
  border-bottom: 2px solid $header-line;
  padding: 15px;
}

.page-name {
  margin-left: 70px;
  font-size: 20pt;
}

.page-name span {
  margin: 0 15px;
}

.light {
  color: $light-font;
  background-color: $light-bg;
}

.dark {
  color: $dark-font;
  background-color: $dark-bg;
}
