:root {
  --text-thead: #8492af;
  --table-line: #dadee7;
}

@font-face {
  font-family: 'Roboto-Bold';
  src: url('/src/assets/fonts/Roboto\ Bold.ttf') format('ttf');
}

@font-face {
  font-family: 'Roboto-Regular';
  src: url('/src/assets/fonts/Roboto\ Regular.ttf');
}

.table {
  width: 90vw;
  font-family: 'Roboto-Regular';
  border-collapse: collapse;
}

header {
  display: flex;
  justify-content: space-around;
}

.table-head {
  color: var(--text-thead);
  margin-bottom: 10px;
}

.name {
  display: flex;
  flex-direction: column;
  padding: 10px 10px;
}

.attention {
  color: var(--text-thead);
}

.logo {
  margin-right: 10px;
}

.row {
  height: 60px;
  border: 2px solid var(--table-line);
}

td {
  text-align: center;
}
