@font-face {
  font-family: 'Roboto-Bold';
  src: url('/src/assets/fonts/Roboto\ Bold.ttf') format('ttf');
}

@font-face {
  font-family: 'Roboto-Regular';
  src: url('/src/assets/fonts/Roboto\ Regular.ttf');
}

.table {
  width: 90vw;
  font-family: 'Roboto-Regular';
  border-collapse: collapse;
}

.table-head {
  color: #8492af;
  margin-bottom: 10px;
}

.name {
  display: flex;
  flex-direction: column;
  padding: 10px 10px;
}

.attention {
  color: #8492af;
}

.logo {
  margin-right: 10px;
}

.row {
  height: 60px;
  border: 2px solid #dadee7;
}
td {
  text-align: center;
}
