$intervals: #fff;
$strokes: #000;

.bt-menu-trigger {
  border: none;
  outline: none;
  background-color: $intervals;
  font-size: 15px;
  position: relative;
  display: inline-block;
  width: 2rem;
  height: 2rem;
  cursor: pointer;
}

.bt-menu-trigger span {
  position: absolute;
  top: 50%;
  left: 0;
  display: block;
  width: 100%;
  height: 0.2rem;
  margin-top: -0.1rem;
  background-color: $strokes;
  user-select: none;
  transition: background-color 0.3s;
}

.bt-menu-trigger span:after,
.bt-menu-trigger span:before {
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  background: $strokes;
  content: '';
  transition: transform 0.3s;
}

.bt-menu-trigger span:before {
  transform: translateY(-0.5rem);
}

.bt-menu-trigger span:after {
  transform: translateY(0.5rem);
}

.bt-menu-trigger.bt-menu-open span:before {
  transform: translateY(-0.35rem) translateX(-0.65rem) rotate(-45deg) scaleX(0.6);
}

.bt-menu-trigger.bt-menu-open span:after {
  transform: translateY(0.35rem) translateX(-0.65rem) rotate(45deg) scaleX(0.6);
}
